<div class="jumbotron">
	<h1 class="text-center">
		<font size="10px">MEAN(Mongodb, Express, Angular, Node) </font>
	</h1>
</div>

<p ng-show="mensagem.texto">{{mensagem.texto}}</p>

<a ng-href="#/contato" class="btn btn-primary">Novo Contato</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">

<p>Contatos cadastrados: {{contatos.length}}</p>

<p class="text-info" ng-hide="contatos.length">N&atilde;o h&aacute;
	contatos cadastrados</p>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th class="text-center">A&ccedil;&atilde;o</th>
		</tr>
		<tr ng-repeat="contato in contatos | filter: filtro">
			<td><a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
			<td>{{contato.email}}</td>
			<td class="text-center">
				<button ng-click="remove(contato)" class="btn btn-warning">
					Remover</button>
			</td>
		</tr>
	</table>
</div>